*{
    margin : 0;
    font-family : Arial;
    border : border-box;
}


.navbar {
    display: flex;
    height : 60px;
    background-color: #0f1111;
    color: whitesmoke;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height : 52px;
    width : 52px;
}

.logo {
    background-image: url("PCH.png");
    background-size :cover;
    height : 52px;
    width : 52px;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid whitesmoke;
}
/** Box 2**/
.add-first {
    color : yellowgreen;
    font-size:0.60rem;
    display :flex;
    margin-left: 15px;
}

.add-second {
    color: yellowgreen;
    font-size : 0.60rem;
    margin-left: 5px;
}

.add-icon {
    display: flex;
    align-items:center;
    margin-top: 5px;
}

/** Box 3 **/
.nav-search {
 display: flex;
  justify-content: space-evenly;
    background-color: yellowgreen;
    width: 620px;
    height: 30px;
    border-radius: 4px;
    margin-left: 4px;
}

.search-select {
    display: flex;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    display: flex;
    width: 100%;
    font-size: 0.80rem;
    border: none;
    text-align : left;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    margin-top: 2px;
    align-items :center;
    font-size: 1.1rem;
    background-color: yellowgreen;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}

.nav-search:hover {
    border: 2px solid #febd68;
}
/** Box 4 **/

Span {
    font-size : 0.7rem;
    margin-left: 4px;
}

.nav-second {
    font-size: 0.80rem;
    font-weight: 700;
    margin-left: 4px;
    align-items: center;
}

/** Box 5 **/

.nav-location {
    display: flex;
    justify-content: space-evenly;
}

.location-select {
    display: flex;
    background-color: #f3f3f3;
    text-align: center;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   border-top-left-radius: 5px;
    border: none;
    color:grey;
    margin-left: 4px;
}

.add-icon {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

/** Box 6 **/

.nav-five {
    font-size: 0.80rem;
    font-weight: 113px;
    margin-left: 4px;
    text-align :center;
}
.add-icon {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

/** Box 7 **/

.nav-Health {
    display :flex;
    font-size: 0.80rem;
}

Span {
    display: flex;
    font-size : 0.80rem;
    margin-left: 4px;
}

.add-iconn{
    color :#f3f3f3;
    align-items: center;
    size :1rem;
    margin-left: 2px;
}

/** Box 8 **/

.nav-Book  {
   font-size: 0.80rem;
   display :flex;

}

Span {
    display: flex;
    font-size : 0.80rem;
    margin-left: 4px;
}
.add-icon{
    color :#f3f3f3;
    align-items: center;
    size :1rem;
    margin-left: 2px;
}

/** last header Box 9 **/

.nav-cart i {
    font-size: 30px;
}

.my-cart {
    font-size: 0.85rem;
    font-weight: 700;
    text-align: center;
}

/** Panel **/

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color :#f3f3f3;
    text-align :center;
    align-items: center;
    justify-content: space-evenly;
}
.add-icon {
    display :flex;
    margin-left: 5px;
}
.panel-ops p{
    display: inline;
    color: #f3f3f3;
    margin-left: 10px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;
    display: flex;
    margin-left: 4px;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}
.panel-opt {
    display: grid;
    margin-right: 5px;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    color:grey;
    margin-left: 4px;
    height: 1px;
    width: 10%;
}

/** herp section **/

.hero-sectiion {
    background-image: url("rankings_dsk.jpg");
    background-size: cover;
    height: 445px;
    display: flex;
    align-items :flex-end;
    justify-content: right;

}

/* .hero-cptn {
    background-color:white;
    display :block;
    color: burlywood;
    font-size: 7px;
    line-height: 20px;
    box-sizing: border-box;
    align-items: flex-end;
    justify-content :left;
    height: 40px;
    width: 50%;
    font-size: 0.85rem;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */

.hero-image {
    height: 200px;
    width: 60%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin-bottom: 25px;;
}

/** visit-section **/
.visit-section {
    display: flex;
    justify-content: space-evenly;
    background-color: #007185;;
}
.box {
    height: 250px;
    border: 2px solid beige;
    width: 23.5%;
    background-color: azure;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box1-image {
 height: 100px;  
 background-size: cover;
 margin-top: 1rem;
 margin-bottom: 1rem;
}
.box2-image {
    height: 150px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box3-image {
    height: 150px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box4-image {
    height: 150px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 10px;
    margin-right: 10px;
}
.box-content p {
    color: #007185;
    display: flex;
    justify-content: center;
    align-items: center;

}

/** footer **/

footer {
    margin-top: 15px;
}

.foot-panell {
    background-color: #37475a;
    color: solid white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("PCH.png");
    background-size :cover;
    height : 52px;
    width : 52px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
   
    padding-top: 25px;
}

.copyright {
   
    padding-top: 5px;
}